<section>
	<p>
		&#x3000;&#x3000;中北大学是一所由山西省人民政府与国家国防科技工业局共建、山西省人民政府管理的多科性教学研究型大学。学校的前身是1941年八路军总司令部在太行抗日根据地创办的我党我军第一所兵工学校——太行工业学校，历经太原机械学院、华北工学院，2004年6月经教育部批准更名为中北大学。
	</p>
	<p>
		&#x3000;&#x3000;中北大学位于中国历史文化名城——山西省太原市，并在朔州市设有校区。学校总占地2501亩，建筑面积近101万平方米，固定资产总值19.3亿元，教学科研仪器设备总值6.1亿元，可利用中外文图书资源291万册，拥有完善的教学和公共服务设施。
	</p>
	<p>
		&#x3000;&#x3000;学校现有13个专业学院，并设有研究生院、后备军官教育学院、国际教育学院（筹）等教学机构。现有国家重点（培育）学科1个，山西省重点学科10个，山西省优势特色重点学科5个，“十一五”国防特色学科（专业）5个。拥有博士后流动站6个，博士学位授权一级学科5个，博士点23个，硕士学位授权一级学科20个，硕士点63个，本科专业78个，涵盖工、理、文、经、管、法、教、艺八大学科门类。具有研究生推荐免试资格、在职人员以同等学力申请硕士学位授予权以及3个类别的硕士专业学位授予权。
	</p>
</section>