<!DOCTYPE html>
<html ng-app="GZCalc" ng-init="name='ZhangSan';age=3">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="张强">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>工资计算器 - {{name}}</title>
        <link rel="stylesheet" href="工资计算器.css">
    </head>
    <body ng-controller="GZController" ng-init="name='Controller'" ng-strict-di>
        <header>工资计算器 - {{name}}</header>
        <!--AngularJs重写了form标签和input标签，为它们扩展很多新功能
        如果不提交表单，可以不写action
        因为有双向绑定，所以input标签不需要写id属性了
        AngularJs对表单输入状态管理和验证提供了强大的支持，所以需要
        正确地设置type及required等与验证相关的属性
        -->
        <form>
            <input type="number" ng-change="showResult=false" ng-model="jishu" required min="1800" autocomplete="off" placeholder="您的基本工资/不能低于最低工资标准">
            <input type="number" ng-change="showResult=false" ng-model="jixiao" autocomplete="off" placeholder="您的绩效工资">
            <input type="number" ng-change="showResult=false" ng-model="jiangjin" autocomplete="off" placeholder="您的奖金">
            <button ng-click="calc()">开始计算</button>
        </form>
        <section ng-show="showResult">
            <dl>
                <!--
                    AngularJS过滤器用于转换数据，currency是过滤器的一种
                    currency:格式化数字为货币格式
                -->
                <dt>工资总额 {{now | date:'yyyy-MM-dd HH:mm'}}</dt>
                <dd>{{total | currency:'￥'}}</dd>
            </dl>
            <div class="hr"></div>
            <dl class="zhichu">
                <dt>养老 8%</dt>
                <dd id="yanglao">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>医疗 2%</dt>
                <dd id="yiliao">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>失业 0.5%</dt>
                <dd id="shiye">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>工伤 0%</dt>
                <dd id="gongshang">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>生育 0%</dt>
                <dd id="shengyu">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>公积金 8%</dt>
                <dd id="gongjijin">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>社保统筹</dt>
                <dd id="tongchou">0.00</dd>
            </dl>
            <div class="hr"></div>
            <dl>
                <dt>计税工资</dt>
                <dd id="jishui">0.00</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>个人所得税</dt>
                <dd id="shui">0.00</dd>
            </dl>
            <div class="hr"></div>
            <dl class="result">
                <dt>实发工资</dt>
                <dd id="shifa">0.00</dd>
            </dl>
        </section>
    </body>
    <script src="libs/angular.js"></script>
    <script src="index.js"></script>
</html>